parameters:
  inferPrivatePropertyTypeFromConstructor: true
  bootstrapFiles:
    - %currentWorkingDirectory%/../../lib/base.php
  ignoreErrors:
    -
      message: '#OCA\\Files_external_ftp\\Storage\\FTP::\$password is never read, only written.#'
      path: lib/Storage/FTP.php
      count: 1
